<!DOCTYPE html>
<html>

<body>

    <h1>Hello Django with Railway!</h1>
    <!-- <form action="" method="post">
        {% csrf_token %}
        <input type="submit" value="submit">
    </form> -->

</body>

</html>